<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      Inicio
    </ion-title>
    <ion-title slot="end">
      <ion-icon name="person" routerLink="/login"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="entrega | async as users">

<ion-card *ngFor="let e of users" [routerLink]="['/tabs/perfilEntrega/',e.key]">
  <ion-card-header >
    <ion-card-subtitle>{{e.produto}}</ion-card-subtitle>
    <ion-card-title>{{e.valor}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  {{e.descricao}}
  </ion-card-content>
  <ion-item>
    <ion-icon name="walk" slot="start"></ion-icon>
    <ion-label>{{e.id}}</ion-label>
  </ion-item>
</ion-card>

</ion-content>